<div class="layout-padding" layout-align="start center" ng-controller="dbAuthCtrl">
    <div class="md-body-1">
        <span class="md-display-2">DropBox</span>
        <br>
        We are using DropBox cloud storage to store the videos. 
        None of your personal information will be stored there.
        <br>
        We need to authenticate with Dropbox now, you will be redirected to the site in {{info.secToRedirect}} seconds.
        <br>
        <br>
<!--
        <div layout="row">
            <div flex="5"></div>
            <div class="md-body-2">
                <div class="md-headline">Instructions:</div>
                You are being recorded.<br>
                You will watch multiple 30 second clips in a row.<br>
                Please continue watching until the videos stop.  <br>
                The video will be saved automatically.
            </div>
        </div>
-->
        <br>
    </div>
</div>