<div layout="column" ng-cloak class="md-inline-form">
    <md-content >
        <div>
            <form name="questionForm" >
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div>
                        <md-input-container>
                            <label>Participant ID (assigned)</label>
                            <input ng-model="user.participantId" ng-readonly="true">
                        </md-input-container>
                        <div>
                            <md-input-container>
                                <label>First Name</label>
                                <input ng-model="user.fname">
                            </md-input-container>            
                            <md-input-container>
                                <label>Last Name</label>
                                <input ng-model="user.lname">
                            </md-input-container>
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="user.email" type="email" required >
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
                <div layout-gt-xs="row">
                    <div layout="column" layout-align="start start" flex>
                        <md-subheader>Race/Gender:</md-subheader>
                        <md-input-container>
                            <label>I identify with: </label>
                            <md-select ng-model="user.ethnicity" >
                                <md-option ng-repeat="ethnic in qctrl.ethnicityList" value="{{ethnic.name}}">
                                    {{ethnic.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>                    
                        <md-input-container>
                            <label>I identify with: </label>
                            <md-select ng-model="user.gender" >
                                <md-option ng-repeat="gender in qctrl.genderList" value="{{gender.name}}">
                                    {{gender.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Comments</label>
                            <textarea ng-model="user.comments" md-maxlength="150" rows="5" md-select-on-focus>
                            </textarea>
                        </md-input-container>
                    </div>
                    <div layout="column" flex>
                        <md-subheader>Physical Features:</md-subheader>
                        <md-input-container>
                            <md-checkbox ng-model="user.glasses">I am wearing glasses</md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox ng-model="user.faceHair">I have a large, thick beard (or facial hair)</md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox ng-model="user.faceMarks">I have facial markings, scars, or irregularities</md-checkbox>
                        </md-input-container>
                    </div>
                </div>
                <md-button ng-disabled="questionForm.$invalid" class="md-raised md-accent" ng-click="qctrl.processQuestionForm()">Get me to the experiment!</md-button>
            </form>
        </div>
    </md-content>
</div>